@charset "EUC-KR";

/*----------------------상위 카테고리 CSS--------------------*/
.menu-bar {
	position: relative;
}

.high-category {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
	background-color: #8e9eaa;
	padding: 10px;
}

.high-category div {
	display: inline-block;
	width: 100px;
}

.high-category a {
	text-decoration: none;
	color: white;
}

.high-category a:hover {
	color: rgb(182, 182, 182);
	transition: 0.4s;
}

/*----------------------하위 카테고리 CSS--------------------*/
.low-category {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
	background-color: #75828b;
	font-size: 0.8em;
	text-align: left;
	padding: 10px 0;
	position: absolute;
	top: 100%;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	transition: max-height 1s ease-out, opacity 1s ease-out;
	width: 100%;
	visibility: hidden;
}

.low-category div {
	width: 100px;
}

.low-category ul {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
}

.low-category li {
	padding: 3px 0px;
}

.low-category a {
	text-decoration: none;
	color: white;
}

.low-category a:hover {
	color: rgb(182, 182, 182);
	transition: 0.4s;
}

.low-category {
	max-height: 0;
	overflow: hidden;
	background-color: #75828b;
	transition: max-height 0.5s ease-out;
	opacity: 0;
}

/* 상위 메뉴에 마우스를 올렸을 때 하위 메뉴가 나타남 */
.high-category:hover+.low-category, .low-category:hover {
	max-height: 500px;
	/* 하위 메뉴가 충분히 보이도록 높이 설정 */
	opacity: 1;
	transition: max-height 1s ease-in, opacity 1s ease-in;
	visibility: visible;
}