/* 디스플레이 영역 */

.searchID {
    text-align: right;
    background-color: rgba(100, 149, 237, 0.1);
}

.searchID > h1 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
    
}

.subhead {
    text-align: left;
}

#cnt, #cdt {
    margin: 5px;
}

.tableID > table {
    width: 100%;
}

