.menu {
    /*메뉴바 배경생*/
    background-color: rgb(59 130 246 / 0.5);
    padding: 10px;
}

.menu ul {
    /* 리스트 점 제거 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* 리스트 가로방향 배치 */
    flex-direction: row;
}

.manager{
    display: none;
}

.menu-item {
    position: sticky;
    color: white;
}

/* 상위 메뉴의 a태그 */
.menu-item>a {
    /* 상위 메뉴의 가로배치 */
    display: block;
    padding: 10px 20px;
    background-color: rgb(59 130 246 / 0.5);
    color: #ffffff;
    /* a태그 밑줄 제거 */
    text-decoration: none;
}

/* 하위메뉴 */
.submenu {
    /* 기본적으로 안보이게 설정 */
    display: none;
    /* 상위 메뉴를 기준 절대위치?  */
    position: absolute;
    top: 100%;
    /* 부모요소 왼쪽에 정렬 -> 위치를 다시 지정할 필요가 있음 */
    left: 0;
    background-color: rgb(59 130 246 / 0.5);
    color: white;
    padding: 10px;
    border: 1px solid white;
    /* 다른요소 위에 나타나도록 설정 */
    z-index: 1000;
    /* 줄바꿈 방지 */
    white-space: nowrap;
}

.submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li a {
    display: block;
    padding: 8px;
    /* background-color: rgb(59 130 246 / 0.5); */
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: rgb(59 130 246 / 0.5);
}

.menu-item:hover .submenu {
    display: block;
}


ul.item {
    list-style-type: none;
    display: flex;
    float: left;
    margin: 10px;
}

#category {
    margin: 10px;
    border: solid rgb(59 130 246 / 0.5);
    color: #fff;
}