/* 디스플레이 영역 */

.searchID {
    text-align: right;
    background-color: rgba(0, 208, 255, 0.1);
}

.searchID > h1 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
    
}

.search {
    margin-top: 10px;
    width: 200px;
    font-size: 20px;
    vertical-align: bottom;
    border: 1px solid rgb(74, 74, 255);
    
}

.searchbtn {
    height: 28px;
    margin: 0 10px;
    background-color: rgb(37, 37, 221);
    color: white;
    border: 0;
    font-size: 20px;
    padding: 0px 10px;
    text-align: center;
}

.subhead {
    text-align: left;
}

#cnt, #cdt {
    margin: 5px;
}

.tableID > table {
    width: 100%;
}

