/* 테이블 */
.tableID {
    text-align: center;
    /* border: 1px solid black; */
    border-collapse: collapse;
    
}

/*  */
.tableID table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
}

.tableID th {
    background-color: rgb(135, 206, 250);
    color: white;
    font-size: 20px;
    border: 1px solid black;
}

.tableID td {
    border: 1px solid black;
    background-color: rgba(173, 216, 230, 0.3);
}

.tableID a {
    color: black;
}

/* 테이블 한 행에 마우스를 올렸을때 */
.tableID tr:hover {
    background-color: rgb(100, 149, 237); /* 호버 시 중간 파랑 */
}

/* 테이블에 있는 체크박스 */
#tablechk, #allchk {
    width: 30px;
    height: 20px;
}

.selectchk {
    width: 30px;
    height: 20px;
}

#a1 {
    background-color: #ffffff;
    border: 1px solid rgb(129, 129, 129);
    color: rgb(0, 140, 255);
    border-radius: 3px;
}

.tableHI {
    display: none;
}

.shorttable {
    width: 85%;
    margin: auto;
}

#intableform {
	display: inline;
}

.modifyTD {
	width: 50px;
}

.underline:hover {
	text-decoration: underline;
}

.pagenum {
	text-align: center;
}