.inventory1{
    margin: auto;
    text-align: center;
}
.inventory2{
    margin: auto;
    text-align: center;
}
.inventory3{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}
.inventory4{
    margin: auto;
    text-align: center;
}
.inventory5{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: auto;
 }
