/* 테이블 */
.tableID {
    text-align: center;
    /* border: 1px solid black; */
    border-collapse: collapse;
    
}

.tableID table {
    border-collapse: collapse;
    border: 1px solid black;
}
.tableID th {
    background-color: rgb(59 130 246 / 0.8);
    color: white;
    font-size: 20px;
    border: 1px solid black;
}

.tableID td {
    border: 1px solid black;
    background-color: rgb(59 130 246 / 0.3);
}

.tableID a {
    text-decoration: none;
    color: black;
}

.tableID tr:hover {
    background-color: rgb(59 130 246);
}

#tablechk {
    width: 30px;
    height: 20px;
}
.pagenum { 
    /* display: inline; */
    margin: auto;
    text-align: center;
}
.pagenum > a {
    width: 50px;
    padding: 5px 10px;
    /* border: 1px solid black; */
    text-decoration: none;
    color: black;
    text-align: center;
}

#a1 {
    background-color: #ffffff;
    border: 1px solid rgb(129, 129, 129);
    color: rgb(0, 140, 255);
    border-radius: 3px;
}