@charset "EUC-KR";

.container {
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.board-container {
    position: relative;
    width: 600px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* prev, next 버튼 */
.prev, .next {
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}

.board-list {
    width: 600px;
    overflow: hidden;
    background-color: #e5ffd8;
    border-radius: 10px;
    padding: 0 20px;
}

#boardList {
    display: flex;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
    list-style: none;
    padding: 0;
}

.board-item {
    text-align: center;
    margin-right: 10px;
}

.boardBtn {
    padding: 10px;
    background-color: inherit;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.boardBtn:hover,
.boardBtn.active-btn {
    background-color: #3bdf25da;
    border-radius: 5px;
}

.search-type {
    text-align: right;
    margin: 30px 0;
}

.search-type select,
.search-type input[type="text"] {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid green;
}

.search-type input[type="text"] {
    width: 200px;
    margin-right: 10px;
    border-color: rgb(138, 206, 138);
}

.search-type input[type="text"]:focus {
    border-color: green;
}

.search-type input[type="text"]::placeholder {
    color: rgb(0, 77, 0);
}

.search-type select {
    width: 100px;
    border-radius: 5px;
    text-align: center;
    appearance: none;
}

.search-type select option:hover {
    background-color: green;
    color: white;
}

/* Pagination 스타일 */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-numbers {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #e5ffd8;
    border: 1px solid #3bdf25da;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.active {
    background-color: #3bdf25da;
    color: white;
}

.pagination .prev2, .pagination .next2 {
    font-size: 18px;
    margin: 0 10px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#countPerPageForm {
    margin-top: 20px;
}

/* 테이블 스타일 */
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    font-weight: bold;
}

table thead tr th {
    padding: 10px;
}

#number {
    width: 40px;
}

#board {
    width: 120px;
}

#title {
    width: 300px;
}

#author {
    width: 50px;
}

#date {
    width: 70px;
}

#view {
    width: 40px;
}

.newpost {
    float: right;
}
