@charset "EUC-KR";
body {
	font-family: Arial, sans-serif;
	background-color: #e6f7e1; /* 연한 초록 배경 */
	color: #2e7d32; /* 짙은 초록 텍스트 */
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 350px;
	background-color: #c8e6c9; /* 연한 초록 컨테이너 */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 컨테이너 그림자 */
	margin-top: 250px;
}

.logo {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #00c73c; /* 초록색 로고 */
	margin-bottom: 20px;
}

.logo img {
	width: 100%;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	color: #2e7d32;
}

.form-group input, .form-group select {
	width: calc(100% - 20px); /* 좌우 여백을 동일하게 조정 */
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #4caf50; /* 초록 테두리 */
	border-radius: 5px;
	color: #2e7d32;
	box-sizing: border-box; /* 패딩과 너비를 포함한 계산 */
}

.form-group.gender, .form-group.nationality {
	display: flex;
	justify-content: space-between;
}

.form-group.gender button, .form-group.nationality button {
	flex: 1;
	margin: 0 5px;
	background-color: #e6f7e1; /* 연한 초록색 버튼 */
	color: #2e7d32;
	border: 1px solid #4caf50;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.form-group.gender button.active, .form-group.nationality button.active
	{
	background-color: #4caf50; /* 활성화된 버튼 */
	color: white;
}

.agreement {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #4caf50;
	border-radius: 5px;
	color: #2e7d32;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.agreement-content {
	display: none; /* 처음에는 숨김 */
	background-color: #f1f8e9;
	border: 1px solid #4caf50;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.agreement-content label {
	display: block;
	margin-bottom: 10px;
}

.arrow {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.arrow.active {
	transform: rotate(180deg); /* 화살표 회전 */
}

.submit-btn {
	width: 100%;
	padding: 15px;
	background-color: #4caf50; /* 초록색 버튼 */
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
}

.overlap-btn {
	width: 100px;
	padding: 5px;
	background-color: #4caf50; /* 초록색 버튼 */
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

.submit-btn:hover {
	background-color: #66bb6a; /* 버튼 hover 시 밝은 초록 */
}

.overlap-btn:hover {
	background-color: #66bb6a; /* 버튼 hover 시 밝은 초록 */
}

.icon {
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

.form-group label {
	vertical-align: middle;
}

.chk-agree {
	width: 17px;
	height: 17px;
}

#verification-code-group {
	display: none; /* 인증번호 입력 필드는 처음엔 숨김 */
	margin-top: 10px;
}