/* 전체 버튼에 대한 css */
.newbtn {
	display: inline;
    color: rgb(0, 51, 102);
    background-color: rgb(173, 216, 230);
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid rgb(173, 216, 225);
    margin: 0px;
}

.btn {
    display: inline;
    color: rgb(0, 51, 102);
    background-color: rgb(173, 216, 230);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgb(173, 216, 225);
    margin: 0px;
}

.inbtn {
    display: inline;
    color: rgb(0, 51, 102);
    background-color: rgb(173, 216, 230);
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgb(20, 81, 134);
    margin: 0px;
}



/* 버튼에 마우스 올렸을때 */
.btn:hover {
    background-color: rgb(135, 206, 250);
    border: solid 1px rgb(20, 81, 134);
    padding: 4px 9px;
}
/* 버튼을 클릭했을때 */
.btn:active {
    background-color: rgb(70, 130, 180);
}
/* 컨텐츠 영역에 있는 버튼 css */
.divbtn .btn {
    margin-left: 10px;
    margin-bottom: 10px;
}
/* 컨텐츠 영역에 있는 버튼 div css */
.divbtn {
    display: inline;
    /* border: 1px solid black; */
    /* margin-right: 100px; */
    /* background-color: aqua; */
    height: 120px;
}

#startdate, #enddate {
    height: 25px;
}

.Lbtn {
    text-align: left;
}
