/* 전체 페이지 스타일링 */
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    color: rgb(0, 51, 102);
    /* 화면 전체 높이를 최소한으로 설정 */
    margin: 0;
}
/* 메인 표시 영역 */
.content {
    flex: 1;
    /* 남은 공간 모두를 차지하도록 설정 */
    display: inline;
    /* 오른쪽 영역이 위아래로 쌓일 수 있도록 설정 */
    padding: 20px;
    background-color: rgb(240, 248, 255);
}

.main_page {
    padding: 0;
    margin: 10px;
    display: inline;
    /* border: solid red; */
    
}

.main_page_kw {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: solid rgb(70, 130, 180);
}

.main_page_kw>div {
    padding: 10px;
    margin: 10px;
    width: 70%;
    height: 500px;
    border: solid rgb(100, 149, 237);
    overflow: scroll;
}

.canvasdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}