/* 디스플레이 영역 */

.searchID {
    text-align: right;
}

.contentDiv {
	background-color: rgba(100, 149, 237, 0.1);
}

.searchID > h1 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
    
}

.subhead {
    text-align: left;
    margin: 20px;
    display: flex;
}

.result {
    display: flex;
}

#cnt, #cdt {
    margin: 5px;
}

.tableID > table {
    width: 100%;
}

.resultdiv {
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(240, 248, 255);
    border: 1px solid rgb(70, 130, 180);
}

.resultdiv span {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    
}
.searchID > span {
    text-align: left;
}
.btn {
    margin: 5px;
}

.searchID span {
    text-align: center;
}